<!DOCTYPE HTML>
<html ng-app="entApp" id="ng-app" xmlns:ng="http://angularjs.org">

<head>
<title>Moviewood | Amit Khanna's App</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="main.css" />
</head>


<body  ng-controller="appCtrl"  ng-class="{fadeBg: anim==true}">

<ul class="animatedBack hidden-xs" ng-show="anim"  ng-hide="!anim">				
		<img  class="inner-fade" ng-repeat="backdrop in moviPosters.backdrops" src="{{backdrop.file_path}}" />	
</ul>

<div class="main col-xs-spacv0 container">
	<h4 class="fadedStyle hidden-xs"><img src="images/logo.png" /></h4>	
	<div class="fright"> 
			
			<!-- -->
		 <div class="input-group">
			      <!--<span class="input-group-addon">
			        <input  type="checkbox" ng-model="db" /> Search Database
			      </span> -->
	      <div class="relative tab">
	      		<span><i class="glyphicon glyphicon-search"></i></span> 
	      		<div class="tc"><input placeholder="enter movie name" class="search" ng-model="search" /></div>
	      		<div class="tc"><button ng-click="searchMovie()" type="button" class="btn btn-blue">Search</button></div> 
	      </div>
	    </div>
		<!-- -->
				
	</div>
	<div ng-switch="subview">		
		<div ng-switch-when="standard" ng-include="'standard.html'"></div>
		<div ng-switch-when="front" ng-include="'front.html'"></div>
		<div ng-switch-when="dbpage" ng-include="'dbsearch.html'"></div>
	</div>
</div>

<div style="display:none">
	<pre> Sample dummy google text to test page break length 
		Analytical 

What: I had got to work for Ax account. In that, every section had a logical / conditional parameters. I had to develop UI based on such parameters. Complex informations were needed to be analiyzed.

How: I analized complex information of bank. I had broken complete structure into sub sections. Then conditions were applied after analyzing complex information. 

Result:  As of result, application flow was sucessful. Testing was done using complex information. Application build was successful.


Learning

What: Many projects have large number of sections and linked pages. To develop these lot of css is used to stylize web pages and large scripts are used to make these behave dynamic as per requirements.  Imrovement was needed to reduce time and efforts to develop these projects.

How: I improved me with latest advance technologies like SCSS (a CSS preprocessor) to write fast css stylesheets. To make pages dynamic, used Jquery for faster development with very less code.

Result: With this improvement, large repititive stylesheets need not to be written repititive styles. Using SCSS I have made functions which can be called many times as required to reduce efforts and time. Jquery made it easier to develop dynamic pages very fast and with less complexity of code. 


Orientation

What: Large number of customers' do business at International level. Many group projects keep running at the same time. Multiple teams work on different sections as per requirement. Their work relate to each other to take process further. To servicing in a better and fast way to customers, teams need to coordinate with each other and help to come out of stucks

How: Using my skills and experience, I suggested better ways to make process faster whether technologywise or processwise. To serve customers in more efficent way, I contributed in many ways like by helping to solve out complex issues which were stuck in work and tried to work faster and in better way and have got huge success in this.  

Result: As a result, project deliverables are completed on time and in better way. These contributions helped in many ways to sevicing customers better and better.


Building

What: In Axp, there were many teams were involved in project. All teams were at different locations like Hyd, BBR, Banglore and US. I needed to network with teams at variuous locations to know about the information required for me which was to be provided by BBR & US teams and this information was to be verified by some other team at some other location. So that project work could have been taken furher for completion. 

How: As many teams were involved in this. A common bridge number and time was scheduled to make this meeting successful. All required information, status and issues were discussed over this network. 

Result: As a result, whatever information which wa to be provided by teams was successfully shared and also verified by team at other location. I networked with various teams at different locations as per work requirements. This made project completion successful without any obstacled as we all were working at the same location at same time.
	
	</pre>
</div>

<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="vendor/jquery.js"></script>
<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="controllers.js"></script>
<script type="text/javascript" src="filters.js"></script>
<script type="text/javascript" src="custom.js"></script>


</body>
</html> 